@inherits Umbraco.Web.Mvc.UmbracoViewPage<TrainingSite.Models.EventFilterModel>


<div>
    @using (Html.BeginUmbracoForm("FilterEvents", "EventFilter", FormMethod.Post))
    {
        <input type="datetime" name="startDate" value="@Model.StartDate" />
        <input type="datetime" name="endDate" value="@Model.EndDate" />
        <button type="submit" class="filter-events-button">Filter</button>
    }
</div>