@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Layout.cshtml";
}

<div>This content comes from the Home Page template file (HomePage.cshtml)</div>
@Html.Partial("MyExamplePartial")