@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Layout.cshtml";
}

<div>This content comes from the Home Page template file (HomePage.cshtml)</div>
@Html.Partial("MyExamplePartial")

<div>The next entry is from the surface controller</div>
<div>
    @Html.Action("FilterForm", "EventFilter")
</div>