@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<div>This comes from the master Layout Template file (Layout.cshtml)</div>
@RenderBody()
</body>
</html>

